.title {
  h3 {
    margin: auto;
    text-shadow: var(--accent-pink) 3px 4px 1px;
  }
}

header {

  margin: 3em auto;
  margin-top: 2em;
  padding: 1em 0;

  text-align: center;

  @media only screen and (min-width: 1024px) {
    height: fit-content;
    max-width: 70vw;
    
    margin: 8em auto;
    margin-top: 5em;
    padding: 1em 0;

    text-align: left;
  }

  h1:first-of-type {
    font-size: 3em;
    text-shadow: var(--accent-pink) 3px 4px 1px;
  }

  h2 {
    font-size: 2em;
  }

  p {
    margin: 0.3em 1.5em;
    font-size: 1.2em;
  }

  img {
    width: 15em;
    margin: 1em 0.7em;

    border-radius: 50%;

    @media only screen and (min-width: 1024px) {
      height: 20em;
      width: 20em;

      margin: 1em;
      
      float: left;
      -webkit-shape-outside: circle();
      shape-outside: circle(50%);
    }
  }
}
