@import './globals';
@import './headers';
@import './projects';


.info {
  background-color: var(--background);
  padding: 2em;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  justify-content: center;
  gap: 1.5em;

  a {
    text-decoration: none;
  }

  p a {
    color: white;
    text-decoration: underline;
  }

  button {
    margin-top: 1em;
    text-decoration: none;
    width: 60%;
    

    i {
      margin-right: 0.5em;
    }
  }

  div {
    width: 100%;
    display: grid;
    align-items: start;
    box-sizing: border-box;

    p {
      padding: 0.25em;
    }

  }

  .title {
    margin-bottom: 1em;
  }

  @media only screen and (min-width: 992px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2,35%);
    gap: 5em;
  }
}