@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --accent-color: #c94b4b;
  --hover-links-color: #4b134f;
  --light-gray: rgb(216, 216, 216);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata';
  display: grid;
  grid-template-columns: 25em 1fr;
}

h2 {
  color: var(--accent-color);
}

img {
  width: 2.5em;
}

a {
  margin: 0.5em 0.3em;
}

i {
  color: black;
  margin: 0 0.2em;
}

div {
  margin: 1em 0;
}

.left-side-panel {
  position: relative;
  text-align: left;
  padding: 0 2em;
  background: white;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.social-media__screen {
  display: block;
  position: absolute;
  bottom: 2%;
  padding: 0.5em 0;
}

.social-media__mobile {
  display: none;
}

.right-side-panel {
  height: 100vh;
  line-height: 2em;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.right-side-panel > h3 {
  text-align: center;
  font-size: 1.5em;
  padding: 3.5em;
}

.right-side-panel i:hover {
  color: var(--hover-links-color);
}

.projects-grid {
  position: relative;
  bottom: 13%;
  margin: 2.5em;
  display: grid;
  gap: 1em;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
}

.card {
  border-radius: 15px;
  background-color: rgb(216, 216, 216);
  padding: 1em;
  text-align: left;
  height: 30em;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.card p {
  line-height: 1.2em;
}

.card > p:nth-child(3) {
  margin: 1em 0;
  color: gray;
}

.card > p:nth-child(5) {
  text-align: right;
  font-size: 0.8em;
}

.card > p:nth-child(5) a {
  color: black;
}

.card > p:nth-child(5) a:hover {
  color: var(--hover-links-color);
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: repeat(50%, 50%);
  }

  .right-side-panel,
  .left-side-panel {
    text-align: center;
  }

  .left-side-panel {
    width: 100%;
    padding: 0 0;
    height: 100%;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
  }

  .social-media__screen {
    display: none;
  }

  .social-media__mobile {
    display: block;
  }

  hr {
    width: 85%;
    margin: auto;
  }

  .social-media {
    position: relative;
    bottom: 2%;
    padding: 0.5em 0;
  }

  .right-side-panel {
    width: fit-content;
    height: auto;
  }

  .right-side-panel > h3 {
    font-size: 1.5em;
    padding: 1em;
  }

  .projects-grid {
    position: relative;
    top: -5%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .card {
    height: fit-content;
  }
}
