@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
  --accent-pink: rgb(201, 75, 75);
  --accent-purple: #4b134f;
  --light-gray: rgb(216, 216, 216);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata';
  display: grid;
  grid-template-columns: 20em 1fr;
}

h2 {
  color: var(--accent-pink);
}

img {
  width: 2.5em;
}

a {
  margin: 0.5em 0.3em;
}

i {
  color: black;
  margin: 0 0.2em;
}

.left-side-panel {
  display: grid;
  grid-template-rows: (2, 1fr);
  align-content: flex-start;
  text-align: center;
  padding: 0 2em;
  background: white;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.contact-info {
  padding: 0.7em 0;
}

.right-side-panel {
  align-content: center;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-rows: repeat(10%, 80%, 5%);
  height: 100vh;
}

.right-side-panel > h3 {
  font-size: 1.5em;
  margin: 1em;
  padding-top: em;
  padding-bottom: 3.5em;
  text-align: center;
}

.right-side-panel i:hover,
.left-side-panel i:hover {
  color: var(--accent-purple);
}

.projects-grid {
  display: grid;
  margin: 2.5em;
  gap: 1em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.card {
  background-color: rgb(216, 216, 216);
  border-radius: 15px;
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  height: 30em;
  padding: 1em;
  text-align: left;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.card p {
  line-height: 1.2em;
}

.card > p:nth-child(3) {
  color: gray;
  margin: 1em 0;
}

.card > p:nth-child(5) {
  font-size: 0.8em;
  text-align: right;
}

.card > p:nth-child(5) a {
  color: black;
}

.card > p:nth-child(5) a:hover {
  color: var(--accent-purple);
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: repeat(50%, 50%);
  }

  .right-side-panel,
  .left-side-panel {
    text-align: center;
  }

  .left-side-panel {
    box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    height: 103%;
    padding: 0 0;
    width: 100%;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
  }

  hr {
    margin: auto;
    width: 85%;
  }

  .right-side-panel {
    height: auto;
    margin-top: 2em;
    width: fit-content;
  }

  .right-side-panel > h3 {
    font-size: 1.5em;
    padding: 1em;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .card {
    height: fit-content;
  }
}
