@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
  --accent-pink: rgb(201, 75, 75);
  --accent-purple: #4b134f;
  --light-gray: rgb(216, 216, 216);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata';
  display: grid;
  grid-template-columns: 20em 1fr;
  height: 100vh;
}

h2 {
  color: var(--accent-pink);
  font-weight: bolder;
}

img {
  width: 2.5em;
}

a {
  margin: 0.5em 0.3em;
}

i {
  color: black;
  margin: 0 0.2em;
}

.left-side-panel {
  word-wrap: break-word;
  display: grid;
  align-content: center;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  gap: 0.5em;
  text-align: center;
  padding: 0 2em;
  background: white;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

header > img {
  border-radius: 50%;
  margin: 0.5em;
  position: relative;
  width: 12em;
}

header span {
  font-weight: bold;
}

header p {
  margin: 0.5em;
}

.blink {
  animation: 1.5s blink ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.bio span {
  font-weight: bold;
}

.right-side-panel {
  align-content: center;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: grid;
  grid-template-rows: repeat(5%, 80%, 5%);
  z-index: 1;
}

/* Title */
.right-side-panel > h3 {
  font-size: 1.5em;
  margin: 3em;
  text-align: center;
}

/* Illustration copyright */
.right-side-panel > p:last-of-type {
  color: beige;
  font-size: 0.8em;
  text-align: right;
  justify-self: center;
  padding: 1.5em;
}

.right-side-panel > p:last-of-type a {
  color: beige;
}

.right-side-panel i:hover,
.left-side-panel i:hover {
  color: var(--accent-purple);
}

.projects-grid {
  display: grid;
  margin: 0 2.5em;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
}

.card {
  background-color: rgb(216, 216, 216);
  border-radius: 15px;
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  height: min-content;
  min-height: 25em;
  padding: 2em 1.5em;
  text-align: left;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.card p {
  line-height: 1.2em;
}

/* Stack paragraph */
.card > p:nth-child(3) {
  color: gray;
  margin: 1em 0;
}

/* Links paragraph */
.card > p:nth-child(5) {
  font-size: 0.9em;
  text-align: center;
  margin: 2em 0;
}

.card > p:nth-child(5) a {
  color: black;
}

.card > p:nth-child(5) a:hover {
  color: var(--accent-purple);
}

.card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: repeat(50%, 50%);
  }

  .right-side-panel,
  .left-side-panel {
    text-align: center;
  }

  .left-side-panel {
    box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    height: 100%;
    padding: 1em 2.5em;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.72);
  }

  hr {
    margin: 1.5em auto;
    width: 100%;
  }

  .right-side-panel {
    height: auto;
    width: fit-content;
  }

  /* Title */
  .right-side-panel > h3 {
    font-size: 1.5em;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .card {
    height: fit-content;
  }
}
