@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

@font-face {
  font-family: "LeagueSpartan";
  src: url(./LeagueSpartan-Bold.otf);
}

html {
  //font-size: 16px;
}

:root {
  --background: #430147;
  --accent-pink: rgb(201, 75, 75);
  --accent-purple: #4b134f;
  --light-gray: rgb(216, 216, 216);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  font-style: normal;
  font-size: 14px;
  color: white;
  background-color: var(--background);
}

h1,
h2,
h3 {
  font-family: "LeagueSpartan";
}

h1 {
  font-size: 2.5rem;
  line-height: 1.15em;
}

h2 {
  color: var(--accent-pink);
  font-weight: bolder;
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2vh;
}

i {
  color: white;
}

b {
  font-weight: bolder;
}

header {
  text-align: right;
  display: grid;
  max-width: 95%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 2.5em auto;
  margin-bottom: 0;

  p {
    margin: 0.3em 1.5em;
  }

  a b {
    border-bottom: double 2px;
  }

  img {
    height: 10em;
    width:10em;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle(50%);
    border-radius: 50%;
    margin: 0.7em;
    position: relative;
  }

  h1 {
    font-size: 2rem;
    text-shadow: var(--accent-pink) 3px 4px 1px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
      @media only screen and (min-width: 992px) {
    font-size: 3rem;
    line-height: 1.25em;
  }

}

h2 {

  @media only screen and (min-width: 992px) {
    font-size: 2rem;
  }
}




  @media only screen and (min-width: 1024px) {
    height: fit-content;
    max-width: 70vw;
    text-align: right;

    img {
      height: 20em;
      width: 20em;
      margin: 1em;
    }

  }
}

.socials {
  margin-right: 5%;
  margin-top: 1em;
 a {
   margin: 0.5em 0.25em;
 }
}


.projects-title {
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: 5.5em;
  display: flex;
  gap: 1em;
  width: 100%;
  color: #FFFFFF;
text-shadow: var(--accent-pink) 3px 4px 1px;

  @media only screen and (min-width: 992px) {
    top: 5em;
  }

  .left-arrow,
  .right-arrow {
    display: grid;
    align-items: center;
    border-radius: 100%;
    width: 3.5em;
    height: 3.5em;
    background-color: white;
    border: none;

    &:disabled {
      background-color: rgba(255, 255, 255, 0.295);
    }

    img {
      width: 2em;
      height: 2em;
    }
  }

  .left-arrow {
    justify-self: end;

    img {
      transform: rotate(0.5turn);
      margin-top: -0.5em;
      margin-left: 0.4em;
    }
  }

  .right-arrow {
    justify-self: start;

    img {
      margin-top: 0.2em;
      margin-left: 0.8em;
    }
  }

}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.projects {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  //height: fit-content;
  padding: 1em 3em;
  box-sizing: border-box;
  opacity: 1;
  overflow: scroll;
  background-color: #430147;
  background: radial-gradient(
      circle,
      transparent 20%,
      #430147 20%,
      #430147 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #430147 20%,
        #430147 80%,
        transparent 80%,
        transparent
      )
      15px 15px,
    linear-gradient(
        #c94b4b 1.2000000000000002px,
        transparent 1.2000000000000002px
      )
      0 -0.6000000000000001px,
    linear-gradient(
        90deg,
        #c94b4b 1.2000000000000002px,
        #430147 1.2000000000000002px
      ) -0.6000000000000001px 0;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;

  .projects-grid {
    display: grid;
    padding: 6em 1em;
    padding-bottom: 2em;
    padding-top: 7em;
    margin: 0 2em;
    gap: 2em;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;

    @media only screen and (min-width: 992px) {
      width: 60vw;
      margin: auto;
    }
  }

  
}

.title {

  border-bottom: solid 3.5px var(--accent-pink);

  h3 {
    //width: 80%;
    margin: auto;
    text-shadow: var(--accent-pink) 3px 4px 1px;
  }

}

.card {
  text-align: center;
  background-color: var(--accent-purple);
  color: white;
  //font-size: 0.9em;
  min-width: 15em;
  border-radius: 15px;
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  padding: 2em 1.5em;
  -webkit-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);

  h3 {
    font-size: 1.25em;
    margin-bottom: 0.25em;
  }

  p:nth-of-type(2) {
    font-weight: bold;
  }

  p:nth-of-type(3) {
    margin: 1em 0;
  }

  img {
    width: 100%;
  }

  hr {
    opacity: 0.05;
    margin: 1em auto;
    width: 80%;
  }

  .buttons-container {
display: flex;
gap: 1em;
  }

  button {
    font-family: "LeagueSpartan";
    font-weight: bold;
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 0.8em 1em;
    text-align: center;
    margin: 0.5em auto;
    color: white;
    background-color: var(--accent-pink);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  overflow: hidden;

    img {
      width: 1.5em;
      margin: 0 0.5em;
    }
  }
}

.card-transform {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1;
}

.info {
  background-color: var(--background);
  padding: 2em;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  justify-content: center;
  gap: 1.5em;

  div {
    width: 100%;
    display: grid;
    align-items: start;
    box-sizing: border-box;

    p {
      padding: 0.25em;
    }

  }

  @media only screen and (min-width: 992px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2,35%);
    gap: 5em;
  }
}